char wifi_ssid[] = "SSID";
char wifi_password[] = "PASSWORD";
byte sm_decryption_key[16] = {0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0}; // you need to request the key from your provider, should be 16Byte